accelerate==1.14.0
easyocr==1.7.2
numpy==2.3.5
opencv-contrib-python==4.10.0.84
opencv-python==5.0.0.93
opencv-python-headless==5.0.0.93
peft==0.20.0
pillow==12.2.0
scipy==1.17.1
torch==2.11.0+cu128
torchvision==0.26.0+cu128
transformers==5.14.1
